<div class=" container-fluid footer-container">
  <div class="footer">
    <div class="footer-heading footer-1">
      <h2>About Us</h2>
      <a href="#">Blog</a>
      <a href="#">Football News</a>
      <a href="#">Basketball News</a>
      <a href="#">league Tables</a>
      </div>
    <div class="footer-heading footer-2">
        <h2>Contact us</h2>
        <a href="#">Instagram</a>
        <a href="#">Tweeter</a>
        <a href="#">Facebook</a>
        <a href="#">Email</a>
      </div>
    <div class="footer-heading footer-3">
          <h2>Content</h2>
          <a href="#">Blog</a>
          <a href="#">Football News</a>
          <a href="#">Football News</a>
          <a href="#">league Tables</a>
        </div>
    <div class="footer-email-form">
      <h2>Join our news letter</h2>
      <input id="footer-email" type="email" name="" value="" placeholder="Enter your email address">
      <input type="submit" name="" value="Sign Up" id="footer-email-btn">
    </div>
    <!-- <p>Made with ❤️ by Students</p> -->
  </div>
  </div>
</body>
</html>
