<%- include("partials/header") -%>
<div>
  <div class="jumbotron">
    <h1 class="display-4">View Basketball News!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/newsbasketball" role="button">View</a>
    </p>
  </div>
</div>

<div>
  <div class="jumbotron">
    <h1 class="display-4">View Basketball League Tables!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/basketballtable" role="button">View</a>
    </p>
  </div>
</div>

<div>
  <div class="jumbotron">
    <h1 class="display-4">View Basketball Teams!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/basketballteams" role="button">View</a>
    </p>
  </div>
</div>

<div>
  <div class="jumbotron">
    <h1 class="display-4">View Basketball Fixtures!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/basketballfixtures" role="button">View</a>
    </p>
  </div>
</div>
<%- include("partials/footer") -%>
