
<%- include("partials/header"); -%>
    <div class="main1">
        <div class="main2 table-responsive">
            <center>
                <h2> AUN LEAGUE <br> <img class="flag" src="https://cdn.pixabay.com/photo/2013/08/10/02/19/girl-171207__340.jpg" height="150px"></h2>
                <p class="pt">STANDINGS</p>
                <table class="table">
                    <thead>
                        <td>Pos.</td>
                        <td class="name">Team</td>
                        <td>P</td>
                        <td>W</td>
                        <td>D</td>
                        <td>L</td>
                        <td>GD</td>
                        <td>PTS</td>
                    </thead>
                    <tbody>
                        <tr class="top">
                            <td>1</td>
                            <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px">
                                Spartans</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr class="top">
                            <td>2</td>
                            <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px">
                                Bobcats</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr class="top">
                            <td>3</td>
                            <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px">
                                Veterans</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr class="top">
                            <td>4</td>
                            <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px">
                                Sonics</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>


                    </tbody>
                </table>
            </center>
        </div>
    </div>

<%- include("partials/footer"); -%>
