<%- include("partials/header") -%>
<div>
  <div class="jumbotron">
    <h1 class="display-4">Edit Basketball News!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/editbasketballnews" role="button">Add news</a>
    </p>
  </div>
</div>

<div>
  <div class="jumbotron">
    <h1 class="display-4">Edit Basketball Fixtures!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/editbasketballfixtures" role="button">Learn more</a>
    </p>
  </div>
</div>

<div>
  <div class="jumbotron">
    <h1 class="display-4">Edit Basketball Stats</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/editbasketballstats" role="button">Learn more</a>
    </p>
  </div>
</div>
<div>
  <div class="jumbotron">
    <h1 class="display-4">Edit Basketball Table</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/editbasketballtable" role="button">Learn more</a>
    </p>
  </div>
</div>
<div>
  <div class="jumbotron">
    <h1 class="display-4">Add Basketball Teams!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/addbasketballteam" role="button">Learn more</a>
    </p>
  </div>
</div>
<div>
  <div class="jumbotron">
    <h1 class="display-4">Add Basketball Player!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/addbasketballPlayer" role="button">Learn more</a>
    </p>
  </div>
</div>

<div>
  <div class="jumbotron">
    <h1 class="display-4">Add Basketball Match</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/addbasketballmatch" role="button">Learn more</a>
    </p>
  </div>
</div>

<%- include("partials/footer") -%>
