<%- include("partials/header"); -%>
<form class="" action="/editfootballtable" method="post">
  <div class="main1">
      <div class="main2 table-responsive">
          <center>
              <h2> AUN LEAGUE <br> <img class="flag" src="https://cdn.pixabay.com/photo/2021/01/19/18/45/field-5932123_960_720.jpg" height="150px"></h2>
              <p class="pt">STANDINGS</p>
              <input class="form-control" type="text" name="footballSeason" value="" placeholder="Season / semester e.g 'Fall 2021' ">
              <br>
              <input class="form-control" type="text" name="footballSeasonWeek" value="" placeholder="e.g 'Week 2' ">
              <table class="table">
                  <thead>
                      <td>Pos.</td>
                      <td class="name">CLUBS</td>
                      <td>MP</td>
                      <td>W</td>
                      <td>D</td>
                      <td>L</td>
                      <td>GF</td>
                      <td>GA</td>
                      <td>GD</td>
                      <td>Pts</td>
                  </thead>
                  <tbody>
                      <tr class="top">
                          <td><input class="form-control" type="text" name="position" value=""></td>
                          <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px">
                              <input class="form-control" type="text" name="teamName" value="" placeholder="Team Name"></td>
                          <td><input class="form-control" type="text" name="FMP" value=""></td>
                          <td><input class="form-control" type="text" name="FW" value=""></td>
                          <td><input class="form-control" type="text" name="FD" value=""></td>
                          <td><input class="form-control" type="text" name="FL" value=""></td>
                          <td><input class="form-control" type="text" name="FGF" value=""></td>
                          <td><input class="form-control" type="text" name="FGA" value=""></td>
                          <td><input class="form-control" type="text" name="FGD" value=""></td>
                          <td><input class="form-control" type="text" name="FPts" value=""></td>
                      </tr>
                      <tr class="top">
                          <td><input class="form-control" type="text" name="position" value=""></td>
                          <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px">
                              <input class="form-control" type="text" name="teamName" value="" placeholder="Team Name"></td>
                          <td><input class="form-control" type="text" name="FMP" value=""></td>
                          <td><input class="form-control" type="text" name="FW" value=""></td>
                          <td><input class="form-control" type="text" name="FD" value=""></td>
                          <td><input class="form-control" type="text" name="FL" value=""></td>
                          <td><input class="form-control" type="text" name="FGF" value=""></td>
                          <td><input class="form-control" type="text" name="FGA" value=""></td>
                          <td><input class="form-control" type="text" name="FGD" value=""></td>
                          <td><input class="form-control" type="text" name="FPts" value=""></td>
                      </tr>
                      <tr class="top">
                          <td><input class="form-control" type="text" name="position" value=""></td>
                          <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px">
                              <input class="form-control" type="text" name="teamName" value="" placeholder="Team Name"></td>
                          <td><input class="form-control" type="text" name="FMP" value=""></td>
                          <td><input class="form-control" type="text" name="FW" value=""></td>
                          <td><input class="form-control" type="text" name="FD" value=""></td>
                          <td><input class="form-control" type="text" name="FL" value=""></td>
                          <td><input class="form-control" type="text" name="FGF" value=""></td>
                          <td><input class="form-control" type="text" name="FGA" value=""></td>
                          <td><input class="form-control" type="text" name="FGD" value=""></td>
                          <td><input class="form-control" type="text" name="FPts" value=""></td>
                      </tr>
                      <tr class="top">
                          <td><input class="form-control" type="text" name="position" value=""></td>
                          <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px">
                              <input class="form-control" type="text" name="teamName" value="" placeholder="Team Name"></td>
                          <td><input class="form-control" type="text" name="FMP" value=""></td>
                          <td><input class="form-control" type="text" name="FW" value=""></td>
                          <td><input class="form-control" type="text" name="FD" value=""></td>
                          <td><input class="form-control" type="text" name="FL" value=""></td>
                          <td><input class="form-control" type="text" name="FGF" value=""></td>
                          <td><input class="form-control" type="text" name="FGA" value=""></td>
                          <td><input class="form-control" type="text" name="FGD" value=""></td>
                          <td><input class="form-control" type="text" name="FPts" value=""></td>
                      </tr>


                  </tbody>
              </table>
          </center>
      </div>
  </div>
  <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>

<%- include("partials/footer"); -%>
