<%- include("partials/header"); -%>
<form class="" action="/editbasketballtable" method="post">
  <div class="main1">
      <div class="main2 table-responsive">
          <center>
              <h2> AUN LEAGUE BASKETBALL TABLE<br> <img class="flag" src="https://cdn.pixabay.com/photo/2021/01/19/18/45/field-5932123_960_720.jpg" height="150px"></h2>
              <p class="pt">STANDINGS</p>
              <input class="form-control" type="text" name="basketballSeason" value="" placeholder="Season / semester e.g 'Fall 2021' ">
              <br>
              <input class="form-control" type="text" name="basketballSeasonWeek" value="" placeholder="e.g 'Week 2' ">
              <table class="table">
                  <thead>
                      <td>Pos.</td>
                      <td class="name">CLUBS</td>
                      <td>W</td>
                      <td>PCT</td>
                      <td>GB</td>
                      <td>CONF</td>
                      <td>HOME</td>
                      <td>AWAY</td>
                      <td>L10</td>
                      <td>STRK</td>
                  </thead>
                  <tbody>
                      <tr class="top">
                          <td><input class="form-control" type="text" name="position" value=""></td>
                          <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px">
                              <input class="form-control" type="text" name="teamName" value="" placeholder="Team Name"></td>
                          <td><input class="form-control" type="text" name="W" value=""></td>
                          <td><input class="form-control" type="text" name="PCT" value=""></td>
                          <td><input class="form-control" type="text" name="GB" value=""></td>
                          <td><input class="form-control" type="text" name="CONF" value=""></td>
                          <td><input class="form-control" type="text" name="HOME" value=""></td>
                          <td><input class="form-control" type="text" name="AWAY" value=""></td>
                          <td><input class="form-control" type="text" name="L10" value=""></td>
                          <td><input class="form-control" type="text" name="STRK" value=""></td>
                      </tr>
                      <tr class="top">
                          <td><input class="form-control" type="text" name="position" value=""></td>
                          <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px">
                              <input class="form-control" type="text" name="teamName" value="" placeholder="Team Name"></td>
                          <td><input class="form-control" type="text" name="W" value=""></td>
                          <td><input class="form-control" type="text" name="PCT" value=""></td>
                          <td><input class="form-control" type="text" name="GB" value=""></td>
                          <td><input class="form-control" type="text" name="CONF" value=""></td>
                          <td><input class="form-control" type="text" name="HOME" value=""></td>
                          <td><input class="form-control" type="text" name="AWAY" value=""></td>
                          <td><input class="form-control" type="text" name="L10" value=""></td>
                          <td><input class="form-control" type="text" name="STRK" value=""></td>
                      </tr>
                      <tr class="top">
                          <td><input class="form-control" type="text" name="position" value=""></td>
                          <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px">
                            <input class="form-control" type="text" name="teamName" value="" placeholder="Team Name"></td>
                          <td><input class="form-control" type="text" name="W" value=""></td>
                          <td><input class="form-control" type="text" name="PCT" value=""></td>
                          <td><input class="form-control" type="text" name="GB" value=""></td>
                          <td><input class="form-control" type="text" name="CONF" value=""></td>
                          <td><input class="form-control" type="text" name="HOME" value=""></td>
                          <td><input class="form-control" type="text" name="AWAY" value=""></td>
                          <td><input class="form-control" type="text" name="L10" value=""></td>
                          <td><input class="form-control" type="text" name="STRK" value=""></td>
                      </tr>
                      <tr class="top">
                          <td><input class="form-control" type="text" name="position" value=""></td>
                          <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px">
                            <input class="form-control" type="text" name="teamName" value="" placeholder="Team Name"></td>
                          <td><input class="form-control" type="text" name="W" value=""></td>
                          <td><input class="form-control" type="text" name="PCT" value=""></td>
                          <td><input class="form-control" type="text" name="GB" value=""></td>
                          <td><input class="form-control" type="text" name="CONF" value=""></td>
                          <td><input class="form-control" type="text" name="HOME" value=""></td>
                          <td><input class="form-control" type="text" name="AWAY" value=""></td>
                          <td><input class="form-control" type="text" name="L10" value=""></td>
                          <td><input class="form-control" type="text" name="STRK" value=""></td>
                      </tr>


                  </tbody>
              </table>
          </center>
      </div>
  </div>
  <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>

<%- include("partials/footer"); -%>
