<%- include("partials/header") -%>
<div>
  <div class="jumbotron">
    <h1 class="display-4">Edit football News!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/editFootballNews" role="button">Edit</a>
    </p>
  </div>
</div>

<div>
  <div class="jumbotron">
    <h1 class="display-4">Edit football League Tables!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/editfootballtable" role="button">Edit</a>
    </p>
  </div>
</div>

<div>
  <div class="jumbotron">
    <h1 class="display-4">Edit Football Teams!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Edit</a>
    </p>
  </div>
</div>

<div>
  <div class="jumbotron">
    <h1 class="display-4">Edit Football Fixtures!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/editfootballfixtures" role="button">Edit</a>
    </p>
  </div>
</div>

<div>
  <div class="jumbotron">
    <h1 class="display-4">Edit Football Stats</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/editfootballstats" role="button">Edit</a>
    </p>
  </div>
</div>


<div>
  <div class="jumbotron">
    <h1 class="display-4">add Football Player!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/addfootballplayer" role="button">Edit</a>
    </p>
  </div>
</div>

<%- include("partials/footer") -%>
