<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 style="text-align: center;">You have access to edit</h1>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </body>
</html>
