<%- include("partials/header"); -%>
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Experimenting</title>
</head>

<body>
  <div class="container">
    <div class="div1">
      <div class="main1">
        <div class="main2 table-responsive">
          <center>
            <table class="table">
              <!-- table 1 -->
              <thead>
                <th>NEWS</th>
              </thead>
              <tr class="row">
                <td data-label="Fixture " class="col-lg-4">
                  <div class="card" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/photos/etihad-stadium-in-manchester-uk-picture-id1011618842?s=612x612" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Elbroe has ended the title race for Java</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-dark">Go somewhere</a>
                    </div>
                  </div>
                </td>



                <td data-label="Latest News " class="col-lg-4">
                  <div class="card" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/photos/etihad-stadium-in-manchester-uk-picture-id1011618842?s=612x612" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Area has set a a new record in ace with most losses</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-dark">Go somewhere</a>
                    </div>
                  </div>
                </td>



                <td data-label="Latest News " class="col-lg-4">
                  <div class="card" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/photos/etihad-stadium-in-manchester-uk-picture-id1011618842?s=612x612" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Yangmen was taken back in time by Elbroe</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-dark">Go somewhere</a>
                    </div>
                  </div>
                </td>



                <td data-label="Latest News " class="col-lg-4">
                  <div class="card" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/photos/etihad-stadium-in-manchester-uk-picture-id1011618842?s=612x612" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Shalfati Hires Slow as their new manager</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-dark">Read More</a>
                    </div>
                  </div>
                </td>


                <td data-label="Latest News " class="col-lg-4">
                  <div class="card" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/photos/etihad-stadium-in-manchester-uk-picture-id1011618842?s=612x612" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-dark">Read More</a>
                    </div>
                  </div>
                </td>


                <td data-label="Latest News " class="col-lg-4">
                  <div class="card" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/photos/etihad-stadium-in-manchester-uk-picture-id1011618842?s=612x612" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-dark">Read More</a>
                    </div>
                  </div>
                </td>


                <td data-label="Latest News " class="col-lg-4">
                  <div class="card" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/photos/etihad-stadium-in-manchester-uk-picture-id1011618842?s=612x612" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-dark">Read More</a>
                    </div>
                  </div>
                </td>



                <td data-label="Latest News " class="col-lg-4">
                  <div class="card" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/photos/etihad-stadium-in-manchester-uk-picture-id1011618842?s=612x612" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-dark">Read More</a>
                    </div>
                  </div>
                </td>


                <td data-label="Latest News " class="col-lg-4">
                  <div class="card" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/photos/etihad-stadium-in-manchester-uk-picture-id1011618842?s=612x612" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-dark">Read More</a>
                    </div>
                  </div>
                </td>


                <td data-label="Latest News " class="col-lg-4">
                  <div class="card" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/photos/etihad-stadium-in-manchester-uk-picture-id1011618842?s=612x612" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-dark">Read More</a>
                    </div>
                  </div>
                </td>



              </tr>
            </table>
          </center>
        </div>
      </div>
    </div>

    <div class="div2">
      <div class="main1">
        <div class="main2 table-responsive">
          <center>
            <table class="table" style="border:bold;">
              <!-- table 2 -->
              <thead>
                <th colspan="2">
                  Football
                </th>
              </thead>

              <tbody>
                <tr>
                  <td colspan="2">Week 1</td>
                </tr>
                <tr>
                  <td data-label="Fixture ">Lobos <label for="">1</label> - <label for="">1</label> Java </td>
                  <td>Saturday 16:45</td>
                </tr>
                <tr>
                  <td data-label="Fixture ">Shalfati <label for=""> 4 </label> - <label for=""> 0 </label> Ace </td>
                  <td>Saturday 16:45</td>
                </tr>


                <tr>
                  <td data-label="Fixture ">Lobos <label for=""> 3 </label> - <label for=""> 0 </label> Java</td>
                  <td>Saturday 16:45</td>
                </tr>
                <tr>
                  <td data-label="Fixture ">Shalfati <label for=""> 0 </label> - <label for=""> 0 </label> Ace </td>
                  <td>Saturday 16:45</td>
                </tr>

                <tr>
                  <td colspan="2">Week 2</td>
                </tr>
                <tr>
                  <td data-label="Fixture ">Lobos vs Java</td>
                  <td>Saturday 16:45</td>
                </tr>
                <tr>
                  <td data-label="Fixture ">Shalfati vs Ace </td>
                  <td>Saturday 16:45</td>
                </tr>


                <tr>
                  <td data-label="Fixture ">Lobos vs Java</td>
                  <td>Saturday 16:45</td>
                </tr>
                <tr>
                  <td data-label="Fixture ">Shalfati vs Ace </td>
                  <td>Saturday 16:45</td>
                </tr>

                <tr>
                  <td colspan="2">Week 3</td>
                </tr>
                <tr>
                  <td data-label="Fixture ">Lobos vs Java</td>
                  <td>Saturday 16:45</td>
                </tr>
                <tr>
                  <td data-label="Fixture ">Shalfati vs Ace </td>
                  <td>Saturday 16:45</td>
                </tr>


                <tr>
                  <td data-label="Fixture ">Lobos vs Java</td>
                  <td>Saturday 16:45</td>
                </tr>
                <tr>
                  <td data-label="Fixture ">Shalfati vs Ace </td>
                  <td>Saturday 16:45</td>
                </tr>

              </tbody>

            </table>
          </center>
        </div>
      </div>

    </div>
    <div class="div3">
      <div class="main1">
        <div class="main2 table-responsive">
          <center>
            <h2> AUN LEAGUE</h2>
            <p class="pt">STANDINGS</p>
            <table class="table">
              <thead>
                <td>Pos.</td>
                <td class="name">CLUBS</td>
                <td>MP</td>
                <td>W</td>
                <td>D</td>
                <td>L</td>
                <td>GF</td>
                <td>GA</td>
                <td>GD</td>
                <td>PTS</td>
              </thead>
              <tbody>
                <tr class="top">
                  <td>1</td>
                  <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px"><br />
                    Java</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr class="top">
                  <td>2</td>
                  <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px"><br />
                    Lobos</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr class="top">
                  <td>3</td>
                  <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px"><br />
                    Shafati</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr class="top">
                  <td>4</td>
                  <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px"><br />
                    Volts</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>


              </tbody>
            </table>
          </center>
        </div>
      </div>

    </div>
    <div class="div4">

      <div class="main1">
        <div class="main2 table-responsive">
          <center>

            <table class="table">
              <h2>Stats</h2>
              <p class="pt">STANDINGS</p>
              <thead>
                <th>Football</th>
                <th>PlayerName</th>
                <th>No</th>
              </thead>
              <tbody>
                <tr>
                  <td>Top Scorer</td>
                  <td> Elbroe</td>
                  <td> 14 </td>
                </tr>
                <tr>
                  <td>Most Assit</td>
                  <td> Elbroe</td>
                  <td> 14</td>
                </tr>
                <tr>
                  <td>Top Yellow cards</td>
                  <td> Area</td>
                  <td> 14</td>
                </tr>
                <tr>
                  <td>Top RedCards</td>
                  <td> Area</td>
                  <td> 14</td>
                </tr>
                <tr>
                  <td>Top Scorer</td>
                  <td> Elbroe</td>
                  <td> 14 </td>
                </tr>
              </tbody>
            </table>
          </center>
        </div>
      </div>
    </div>
    <div class="div5">
      <div class="main1">
        <div class="main2 table-responsive">
          <center>
            <h2>Basket AUN LEAGUE</h2>
            <p class="pt">STANDINGS</p>
            <table class="table">
              <thead>
                <td>Pos.</td>
                <td class="name">CLUBS</td>
                <td>W</td>
                <td>L</td>
                <td>Pct</td>
                <td>GB</td>
                <td>Conf</td>
                <td>Home</td>
                <td>Away</td>
                <td>Strk</td>
              </thead>
              <tbody>
                <tr class="top">
                  <td>1</td>
                  <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px"><br />
                    Vets</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr class="top">
                  <td>2</td>
                  <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px"><br />
                    Bobcats</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr class="top">
                  <td>3</td>
                  <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px"><br />
                    Sonics</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr class="top">
                  <td>4</td>
                  <td class="name"><img class="logo" src="https://cdn.pixabay.com/photo/2021/09/16/00/47/animal-6628024_960_720.jpg" height="20px"><br />
                    Spartans</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>


              </tbody>
            </table>
          </center>
        </div>
      </div>
    </div>

    <div class="div6">
      <div class="main1">
        <div class="main2 table-responsive">
          <center>

            <table class="table">
              <h2>Stats</h2>
              <p class="pt">STANDINGS</p>
              <thead>
                <th>Basketball</th>
                <th>PlayerName</th>
                <th>No</th>
              </thead>
              <tbody>
                <tr>
                  <td>Points per game</td>
                  <td> Elbroe</td>
                  <td> 14 </td>
                </tr>
                <tr>
                  <td>Assit per game</td>
                  <td> Elbroe</td>
                  <td> 14</td>
                </tr>
                <tr>
                  <td>Rebounds per game</td>
                  <td> Area</td>
                  <td> 14</td>
                </tr>
                <tr>
                  <td>Steals per game</td>
                  <td> Area</td>
                  <td> 14</td>
                </tr>
                <tr>
                  <td>Blocks per game</td>
                  <td> Elbroe</td>
                  <td> 14 </td>
                </tr>
              </tbody>
            </table>
          </center>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
<%- include("partials/footer"); -%>
