<%- include("partials/header"); -%>
<div class="">


  <div class="">
    <h1>Football Results</h1>
    <br>
    <div>
      <div class="jumbotron">
        <p class="lead">Week 1</p>
        <h1 class="display-4"><img style="border-radius:50%; width:10%; padding-right:30px;" src="https://media.istockphoto.com/photos/etihad-stadium-in-manchester-uk-picture-id1011618842?s=612x612" class="card-img-top" alt="..."> <b style="padding:30px;">Java</b><b>0</b>
          <b>-</b> <b>0</b><b style="padding:30px;">Shalfati</b> <img style="border-radius:50%; width:10%; padding-left:30px;" src="https://media.istockphoto.com/photos/etihad-stadium-in-manchester-uk-picture-id1011618842?s=612x612" class="card-img-top"
            alt="..."></h1>
        <br>
        <div><img class="imso_gs__icon" src="//ssl.gstatic.com/onebox/sports/soccer_timeline/soccer-ball-retina.png" alt="Goals"></div>
        <div class="wrapper">
          <div class="team1Scorers">
            <div>Elbroe 25"</div>
            <div>Elbroe</div>
            <div>Sani</div>
            <div>Ziya</div>
          </div>
          <div class="team2Scorers">
            <div>Elbroe 25"</div>
            <div>Elbroe</div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div>
    <table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col"><img class="imso_gs__icon" src="//ssl.gstatic.com/onebox/sports/soccer_timeline/soccer-ball-retina.png" alt="Goals"></th>
      <th scope="col">Team Stats</th>
      <th scope="col"><img class="imso_gs__icon" src="//ssl.gstatic.com/onebox/sports/soccer_timeline/soccer-ball-retina.png" alt="Goals"></th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td>Mark</td>
      <td>Shots</td>
      <td>@mdo</td>
    </tr>
    <tr>

      <td>20%</td>
      <td>Shots on Target</td>
      <td>85%</td>
    </tr>
    <tr>

      <td>Larry</td>
      <td>Possession</td>
      <td>@twitter</td>
    </tr>

    <tr>

      <td>Larry</td>
      <td>Passes</td>
      <td>@twitter</td>
    </tr>
    <tr>

      <td>Larry</td>
      <td>Pass Accuracy</td>
      <td>@twitter</td>
    </tr>
    <tr>

      <td>Larry</td>
      <td>Fouls</td>
      <td>@twitter</td>
    </tr>
    <tr>

      <td>Larry</td>
      <td>Yellow Cards</td>
      <td>@twitter</td>
    </tr>
    <tr>

      <td>Larry</td>
      <td>Red Cards</td>
      <td>@twitter</td>
    </tr>
    <tr>

      <td>Larry</td>
      <td>Offsides</td>
      <td>@twitter</td>
    </tr>
    <tr>

      <td>Larry</td>
      <td>Corners</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
    </div>

</div>
<%- include("partials/footer"); -%>
